<ion-list>
  <ion-item *ngFor="let invite of invitations" text-wrap>
    <ion-row>
      <ion-col size="12">
        <ion-label>
          <ion-text color="primary">
            <h3> {{ invite.from.first_name }} {{ invite.from.last_name }}</h3>
          </ion-text>
          <p>invited you to "{{ invite.board.name }}"</p>
        </ion-label>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="full" size="small" fill="clear" color="success" (click)="acceptInvite(invite, true)">
          <ion-icon name="checkmark" slot="start"></ion-icon>
          Accept
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="full" size="small" fill="clear" color="danger" (click)="acceptInvite(invite, false)">
          <ion-icon name="checkmark" slot="start"></ion-icon>
          Decline
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-item>
</ion-list>
