<ion-content>
  <ion-grid class="full-height">
    <ion-row text-center [formGroup]="loginForm"  class="full-height">
        <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
        offset-xl="4" class="login-register-form">
          <h3>Login</h3>
    
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input required type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input required type="password" formControlName="password"></ion-input>
          </ion-item>
    
          <ion-button expand="full" (click)="login()" [disabled]="!loginForm.valid">Login</ion-button>
    
          <ion-row no-padding>
            <ion-col size="12" size-md="6" text-center>
              <ion-button fill="clear" routerLink="/register" routerDirection="forward">Register</ion-button>
            </ion-col>
    
            <ion-col size="12" size-md="6" text-center>
              <ion-button fill="clear" (click)="forgotPw()">Forgot password?</ion-button>
            </ion-col>
          </ion-row>
    
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
